*{
font-family: 'Roboto Condensed', sans-serif; 
list-style: none;
text-decoration: none;
border-collapse: collapse;
margin: 0px;
padding: 0px;
color: black;

}

h1{
font-size: 25px;
font-weight:2000;
Font-weight:bold;
Text-align: center;
Margin-bottom: 10px;
}


